{% extends 'base.html' %}

{% block content %}


<!--
<p></p>
<nav style="">
  <div class="logo"><a href="">Logo</a></div>
  <ul class="menu-main">
      <li class="home"><a href="{% url 'home' %}">Home</a></li>

      <li class="page"><a href="#">Page</a>
        <div class="menu-sub">
              <div class="menu-col-1">
                  <h3 class="menu-category">Generals</h3>
                  <ul>
                      <li class="sub-l"><a href="">Link 1</a></li>
                      <li class="sub-l"><a href="">Link 2</a></li>
                      <li class="sub-l"><a href="">Link 3</a></li>
                      <li class="sub-l"><a href="">Link 4</a></li>
                      <li class="sub-l"><a href="">Link 5</a></li>
                  </ul>
              </div>

              <div class="menu-col-2">
                  <h3 class="menu-category">Fast Services</h3>
                  <ul>
                      <li class="sub-l"><a href="">Link 1</a></li>
                      <li class="sub-l"><a href="">Link 2</a></li>
                      <li class="sub-l"><a href="">Link 3</a></li>
                      <li class="sub-l"><a href="">Link 4</a></li>
                      <li class="sub-l"><a href="">Link 5</a></li>
                </ul>
              </div>

              <div class="menu-col-3">
                  <h3 class="menu-category">About</h3>
                  <ul>
                    <li class="sub-l"><a href="">Link 1</a></li>
                      <li class="sub-l"><a href="">Link 2</a></li>
                      <li class="sub-l"><a href="">Link 3</a></li>
                      <li class="sub-l"><a href="">Link 4</a></li>
                      <li class="sub-l"><a href="">Link 5</a></li>
                  </ul>
              </div>

              <div class="menu-col-4">
                  <h3 class="menu-category">Team Members</h3>
                  <ul>
                      <li class="sub-l"><a href="">Link 1</a></li>
                      <li class="sub-l"><a href="">Link 2</a></li>
                      <li class="sub-l"><a href="">Link 3</a></li>
                      <li class="sub-l"><a href="">Link 4</a></li>
                      <li class="sub-l"><a href="">Link 5</a></li>
                  </ul>
              </div>
          </div>
      </li>

      <li class="Room"><a href="#">Trips & Tours</a>
          <ul class="room-sub">
              <li><a href="">Single Room</a></li>
              <li><a href="">Search Availability</a></li>
              <li><a href="">Wedding Room</a></li>
          </ul>
      </li>

      <li class="Dinning"><a href="#">Dinings & Bars</a>
          <ul>
              <li><a href="">Bar</a></li>
              <li><a href="">Buffet</a></li>
              <li><a href="">Breakfast</a></li>
              <li><a href="">Lunch</a></li>
              <li><a href="">Dinner</a></li>
              <li><a href="">Wedding</a></li> 
          </ul>
      </li>

      <li class="ammeties"><a href="#">Ammeties</a></li>

      <li class="contact"><a href="{% url 'contact' %}">Contact</a></li>

    <button class="button1" style="vertical-align:middle;"><span>Book Room</span></button>
  </ul>
</nav>-->
{% endblock %}